@if $layout == "cards" {
  .featured-topics {
    &__wrapper {
    }
    &__container {
      display: grid;
      grid-template-columns: repeat($max_topic_count, minmax(300px, 1fr));
      grid-gap: 1rem;
    }
  }
  .featured-topic {
    &__container {
      position: relative;
      height: 400px;
      background-color: var(--secondary);
      box-shadow: 0 5px 10px 0 rgba(var(--primary-rgb), 0.2);
    }
    &__tag {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      .discourse-tag {
        margin-right: 0;
      }
    }
    &__thumbnail {
      height: 45%;
      min-height: 45%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__details {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      height: 100%;
    }
  }
}
