@if $layout == "cards" {
  .featured-topics {
    &__topics-wrapper {
      display: grid;
      grid-template-columns: repeat($max_topic_count, minmax(150px, 1fr));
      grid-gap: 1rem;
    }

    &__topic-container {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 400px;
      background-color: var(--secondary);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    }
    &__topic-container.thumbnail {
      .topic-excerpt {
        display: none;
      }
    }
    &__topic-tag {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      .discourse-tag {
        margin-right: 0;
      }
    }
    &__topic-thumbnail {
      height: 45%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__topic-details {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
      color: var(--primary);
      .topic-author {
        margin-top: auto;
      }
      .topic-title {
        @include line-clamp(3);
      }
      .topic-excerpt {
        @include line-clamp(8);
      }
    }
  }
  @include breakpoint(mobile-extra-large) {
    .featured-topics {
      &__topic-wrapper {
        display: flex;
        flex-direction: column;
      }
      &__topic-container {
        height: unset;
      }
    }
  }
}
