.featured-topics {
  &__wrapper {
    background-color: var(--tertiary-300);
    padding: 20px;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat($max_topic_count, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
}
.featured-topic {
  &__container {
    height: 400px;
    background-color: var(--secondary);
    position: relative;
  }
  &__tag {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    .discourse-tag {
      margin-right: 0;
    }
  }
  &__thumbnail {
    height: 45%;
    min-height: 45%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      background-color: pink;
      object-fit: cover;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
  }
}

// Plugin outlets
.featured-topics__wrapper.above-main-container {
  margin-bottom: 1.5rem;
}
